{erl_opts, [debug_info,
            {i, "_build/default/lib/gpb/include"},
            {parse_transform, border_control_transform}]}.

{deps, [
	{border_control, {git, "https://github.com/projectgoldfish/border_control.git", {branch, "2.0"}}}
]}.

{erl_first_files, ["src/example_a.erl", "src/example_b.erl", "src/example_c.erl"]}.

{pre_hooks, [
	{compile, "mkdir -p include"}, %% ensure the include dir exists
	{compile, "`find ${REBAR_ROOT_DIR} -name protoc-erl` -strbin -I `pwd`/proto -o-erl src -o-hrl include `pwd`/proto/*.proto"}
]}.

{post_hooks, [
	{clean, "bash -c 'for f in proto/*.proto; "
	        "do "
	        "  rm -f src/$(basename $f .proto).erl; "
	        "  rm -f include/$(basename $f .proto).hrl; "
	        "done'"
	}
]}.